<div ng-click="openModal(item.id)" class="item item-divider" dir="rtl">
  <i ng-show="item.icon != ''" ng-class="item.icon" class="icon postTitleIcon" style=""></i>
  {{item.title}}
</div>
<div class="item item-body">
    <div ng-click="openModal(item.id)">
      <div class="imagePlaceHolder" style="background-image:url('{{item.image}}');height:{{getPostImageHeigt()}}px;">
        <i ng-hide="item.image.length > 0" class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        <div class="imageLabel" dir="rtl">
          מרחק:
          <span ng-hide="user.location == null">
            {{calcDistanceFromUser(item.location.lat,item.location.lon)}}
          </span>
          <span ng-show="user.location == null">
            <i class="icon ion-loading-c"></i>
          </span>
          &nbsp;|&nbsp;
          {{item.teaser}}
        </div>

      </div>
      <div dir="rtl">
        <p>{{item.subtitle}}</p>
      </div>
    </div>
    <div style="margin-top:25px;">
      <div class="button-bar">
        <a class="button" ng-class="{'button-positive':postLiked}" ng-click="(!postLiked) ? userLike(item.id) : removeLike(item.id);postLiked=!postLiked">
          <i class="icon ion-thumbsup" style="margin-right: 9px;"></i>
          <span style="font-size:13px;position: relative;top:2px;">{{item.likes}} Likes</span>
        </a>
        <a ng-click="showComments=!showComments" ng-class="{'active':showComments}" class="button">
          <i class="icon ion-ios7-chatboxes" style="margin-right: 9px;"></i>
          <span style="font-size:13px;position: relative;top:2px;">
            <span ng-show="item.comments.length > 0">{{item.comments.length}} Comments</span>
            <span ng-show="item.comments.length == 0">?מה דעתך</span>
          </span>
        </a>
      </div>

      <div ng-show="showComments" class="list">
        <div class="list" style="padding-top: 0px;margin-bottom: 0px;">
          <div class="item item-input-inset" style="background:#E5E5E5;">
            
            <label class="item-input-wrapper" style="background:#fff;">
              <input ng-model="userComment" type="text" placeholder="מה דעתך?" dir="rtl" style="width:100%;background:#fff;">
            </label>
            <button ng-click="sendComment(item.id,userComment,item);userComment='';" class="button comment-button icon-left ion-android-send button-positive">send</button>
          </div>
        </div>


        <a ng-repeat="cmt in item.comments" class="item postComment item-icon-left" href="#">
          <i class="icon" ng-show="cmt.userId">
            <img ng-src="{{getFacebookImage(cmt.userId)}}" style="height:35px;" />
          </i>
          <div style="font-size:13px;font-weight:bold">{{cmt.userFullName}}</div>
          <div dir="rtl" style="font-size:15px;">{{cmt.title}}</div>
        </a>

      </div>
    </div>
</div>
