.pane, .view{
	background: #e3e9f9;
	font-family: 'Arimo', arial;
}



.title-image{
	height: 33px;
    margin-top: 5px;
}

.postTitleIcon
{
	margin-left: 5px;
	margin-right: 5px;
	font-size: 20px;
	position: relative;top: 2px;
}

.imagePlaceHolder{
	border: 1px solid rgb(238, 238, 238);
	border-radius: 3px;
	text-align: center;
	width: 100%;
	background-color: rgb(255, 255, 255);
	background-size: cover;
	height:180px;
}


.bar-header{
	padding: 0px;
}

.bar-header .button{
	padding:0px;
	border: 0px;
    top: 0px !important;
    right: 0px !important;
}
.bar-header .button:before{
	font-size:23px !important;
}



.button-bar .button{
	border-color:#ececec;
}

.item{
	border-width:0px;
}

.item-body{
	padding-top: 2px;
}

.item-divider{
	background-color:#fff;
	border-width:0px;
}

.item-input.rtl{
    padding: 6px 16px 5px 0px;
}
.rtl input{
    padding-right:16px !important;
}

.item.postComment{
	border-bottom: solid 1px #ececec;
}

.post .imageLabel{

	margin-top: 144px;
    font-size: 12px;
    text-align: right;
    padding: 10px 10px 5px 10px;
    color: #fff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0+9,0+9,0.8+99 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 9%, rgba(0,0,0,0.8) 99%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(9%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 9%,rgba(0,0,0,0.8) 99%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 9%,rgba(0,0,0,0.8) 99%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 9%,rgba(0,0,0,0.8) 99%,rgba(0,0,0,0.8) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 9%,rgba(0,0,0,0.8) 99%,rgba(0,0,0,0.8) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */

}